@media (max-width: 435px){
    footer {
        position: relative;
        width: 100%;
        margin-left: 0;
    }

    #footer {
        margin-left: 28%;
    }

    .footer-menu{
        margin-left: 39%;
    }

    .btn-footer {
        position: absolute;
        margin: -8em 0 1em 30%;
    }
}